@import "tailwindcss";

:root {
  /* MAIN COLORS */
    --primary: #ED5735;
    --secondary: #2C3545;


    /* TEXT COLORS */
    --light-text: #AAAAAA;
    --dark-text: #000000;


    /* BACKGROUND COLORS */
    --body-background: #F7F8F9;


    /* OTHER COLORS */
    --form-border: #DDDDDD;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light-text: var(--light-text);
  --color-dark-text: var(--dark-text);
  --color-body-background: var(--body-background);
  --color-form-border: var(--form-border);
}

body {
  background-color: var(--color-body-background);
  color: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
}
